@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}



<div class="row justify-content-center">
    <div class="text-center mt-5 fs-2">Create a new SuperUser account.</div>
    <div class="text-center mt-3 fs-4">New staff member joining in? Make sure they have access to manage the network!</div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-8 col-xs-10 mt-5">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            
            
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mt-2">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mt-2">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Register</button>
        </form>
    </div>
    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
